*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --color-background: rgb(177, 181, 204);
  --color-header: rgb(32, 20, 24);
  --color-foreground-header: rgb(164, 66, 83);
  --color-foreground: rgb(28, 32, 52);
  --color-background-button: #6167B9;
  --color-secondary: #f5f7fa;
  --font-base:'Satoshi', sans-serif;;
  --font-size-base: 1rem;  /* =16px */
  --spacing: 1rem;
  --radius: 8px;
}

html, body, *{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  line-height: 1.5;
  font: var(--font-base);
  color: var(--color-foreground);
  height: 100vh;
}

header{
  background-color: var(--color-header);
  text-align: center;
}

header h1{
  color: var(--color-background);
}


main{
  background-color: var(--color-background);
  height: 100%;
}

main h2{
  text-align: center;
}

table{
  background-color: var(--color-background);
}

th{
  background-color: var(--color-header);
  color: var(--color-foreground-header);
}

td{
  background-color: var(--color-header);
  color: var(--color-background);
}

h2 {
  color: var(--color-foreground-header);
  padding: 5dvh;
}

td{
  text-align: center;
}

tbody tr:nth-child(1), tbody tr:nth-child(2), tbody tr:nth-child(3), tbody tr:nth-child(4), tbody tr:nth-child(5) {height: 100px;}
th:nth-child(1), td:nth-child(1) { width: 80px;}
th:nth-child(2),td:nth-child(2){width: 100px;}

input[type="button"]{
  background-color: var(--color-background-button);
  border: none;
  padding: 5px;
  border-radius: 8px;
  font: var(--font-base);
  font-weight: bolder;
  max-width: 80px;
  font-size: 1rem;
  color: var(--color-background);
}

input[type="date"], input[type="datetime-local"], input[type="email"], input[type="file"]{
  width: 100px;
}

@media (min-width: 768px) {
  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
